.DS_Store
bundle
bundle.zip
configstore
packer_compiled.lua
private_*.lua
**.bak
*.log
node_modules
Session.vim
skins
themes
lnav/stdin-captures
lnav/staging
lnav/*.history
lnav/view-info*
lnav/*.db
lnav/formats/default/*
lnav/configs/default/*
lnav/*history*
k9s/clusters
gpt4all.io
iterm2
pudb/saved-breakpoints*
pudb/*history.*
yarn

gh/hosts.yml
